span.LexEditor_Image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

.LexEditor_Image img {
  max-width: 100%;
  cursor: default;
}

.LexEditor_Image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.LexEditor_Image img.focused.draggable {
  cursor: grab;
}

.LexEditor_Image img.focused.draggable:active {
  cursor: grabbing;
}

.image-control-wrapper--resizing {
  touch-action: none;
}